{% extends 'layouts.layout' %}


{% block contents %}
    <div class="cell">
        <div class="col">
            <div class="cell panel">
                <div class="header">
                    走りたい距離を選択
                </div>
                <div class="body">
                    <div class="cell">
                        <a href="/plan/map/">3Km</a>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <a href="/plan/map/">5Km</a>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <a href="/plan/map/">10Km</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}