{% extends 'layouts.layout' %}

{% block contents %}
    <div class="cell">
        <div class="col width-1of2">
            <div class="panel cell">
                <div class="header">Repo list</div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-bookmark color-blue"></span></div>
                            <div class="col width-fill mobile-width-fill">
                                                                    <span class="float-right">
                                                                        <span class="text">
                                                                            123
                                                                        </span>
                                                                        <span class="icon icon-star color-yellow"></span>
                                                                    </span>
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="#">Repo 1</a>
                                </div>
                                <div class="col">This is one of my coolest repos.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-bookmark color-blue"></span></div>
                            <div class="col width-fill mobile-width-fill">
                                                                    <span class="float-right">
                                                                        <span class="text">
                                                                            123
                                                                        </span>
                                                                        <span class="icon icon-star color-yellow"></span>
                                                                    </span>
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="#">Repo 2</a>
                                </div>
                                <div class="col">This is one of my coolest repos.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-bookmark color-blue"></span></div>
                            <div class="col width-fill mobile-width-fill">
                                                                    <span class="float-right">
                                                                        <span class="text">
                                                                            123
                                                                        </span>
                                                                        <span class="icon icon-star color-yellow"></span>
                                                                    </span>
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="#">Repo 3</a>
                                </div>
                                <div class="col">This is one of my coolest repos.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-bookmark color-blue"></span></div>
                            <div class="col width-fill mobile-width-fill">
                                                                    <span class="float-right">
                                                                        <span class="text">
                                                                            123
                                                                        </span>
                                                                        <span class="icon icon-star color-yellow"></span>
                                                                    </span>
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="#">Repo 4</a>
                                </div>
                                <div class="col">This is one of my coolest repos.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col width-fill">
            <div class="panel cell">
                <div class="header">Repo list</div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-bookmark color-blue"></span></div>
                            <div class="col width-fill mobile-width-fill">
                                                                    <span class="float-right">
                                                                        <span class="text">
                                                                            123
                                                                        </span>
                                                                        <span class="icon icon-star color-yellow"></span>
                                                                    </span>
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="#">Repo 5</a>
                                </div>
                                <div class="col">This is one of my coolest repos.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-bookmark color-blue"></span></div>
                            <div class="col width-fill mobile-width-fill">
                                                                    <span class="float-right">
                                                                        <span class="text">
                                                                            123
                                                                        </span>
                                                                        <span class="icon icon-star color-yellow"></span>
                                                                    </span>
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="#">Repo 6</a>
                                </div>
                                <div class="col">This is one of my coolest repos.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-bookmark color-blue"></span></div>
                            <div class="col width-fill mobile-width-fill">
                                                                    <span class="float-right">
                                                                        <span class="text">
                                                                            123
                                                                        </span>
                                                                        <span class="icon icon-star color-yellow"></span>
                                                                    </span>
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="#">Repo 7</a>
                                </div>
                                <div class="col">This is one of my coolest repos.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-bookmark color-blue"></span></div>
                            <div class="col width-fill mobile-width-fill">
                                                                    <span class="float-right">
                                                                        <span class="text">
                                                                            123
                                                                        </span>
                                                                        <span class="icon icon-star color-yellow"></span>
                                                                    </span>
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="#">Repo 8</a>
                                </div>
                                <div class="col">This is one of my coolest repos.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}