{% extends 'layouts.layout' %}

{% block header_right %}
    <div class="col width-fill mobile-width-fill">
        <div class="cell">
            <ul class="col nav right">
                {% if session_has('user') %}
                    <li class="active"><a href="/logout">ログアウト</a></li>
                {% else %}
                    <li class="active"><a href="/login">ログイン</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block contents %}
    <div class="cell">
        <div class="col">
            <div class="cell panel">
                <div class="body">
                    <div class="cell">
                        <div class="col width-fill">
                            <div class="col">
                                <div>
                                    <img src="{{ user.picture }}?type=normal" alt="">

                                    <p>{{ user.name }}</p>

                                    <p>Rank：ランニングビギナー</p>

                                    <p>総距離：123km</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col width-1of2">
            <div class="panel cell">
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-heart color-blue"></span>
                            </div>
                            <div class="col width-fill mobile-width-fill">
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="/run">走る</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-book color-blue"></span>
                            </div>
                            <div class="col width-fill mobile-width-fill">
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="/record?user_id={{ session_get('user_id') }}">走った</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-list color-blue"></span>
                            </div>
                            <div class="col width-fill mobile-width-fill">
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="/plan">プラン</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-group color-blue"></span>
                            </div>
                            <div class="col width-fill mobile-width-fill">
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="/friends/">友達</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}