{% extends 'layouts.layout' %}

{% block contents %}
    <div class="cell">
        <div class="col">
            <div class="cell panel">
                <div class="body">
                    <div class="cell">
                        <div class="col width-fill">
                            <div class="col">
                                <div>
                                    <img src="/img/parson/iiyama.jpg" alt="">
                                    <p>Rank：ランニングビギナー</p>
                                    <p>総距離：123km</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col width-1of2">
            <div class="panel cell">
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-heart color-blue"></span>
                            </div>
                            <div class="col width-fill mobile-width-fill">
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="/run">走る</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-book color-blue"></span>
                            </div>
                            <div class="col width-fill mobile-width-fill">
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="/record?user_id=1">走った</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-list color-blue"></span>
                            </div>
                            <div class="col width-fill mobile-width-fill">
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="/plan">プラン</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body">
                    <div class="cell">
                        <div class="col">
                            <div class="col width-fit mobile-width-fit"><span class="icon icon-group color-blue"></span>
                            </div>
                            <div class="col width-fill mobile-width-fill">
                                <div class="col width-fill mobile-width-fill">
                                    <a class="fatty" href="/friends/">友達</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}