{% extends 'layouts.layout' %}

{% block contents %}
    <div class="cell">
        <div class="col">
            <a href="/login/fb">
                <span class="icon icon-128 icon-facebook-sign"></span>
            </a>
        </div>
    </div>
{% endblock %}