<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>RunPlan</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/cascade/development/build-full.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="/css/site.css"/>
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/css/cascade/development/icons-ie7.css"><![endif]-->
    <!--[if lt IE 9]>
    <script src="/js/shim/iehtmlshiv.js"></script><![endif]-->
</head>
<body class="narrow">
<div class="site-center">
    <div class="site-body">

        <div class="site-header">
            <div class="col width-fit mobile-width-fit">
                <div class="cell">
                    <a href="/" class="logo">
                        <img src="/img/logo-small-bg.png">
                    </a>
                </div>
            </div>
            {% block header_right %}{% endblock %}
        </div>
    </div>

    <div class="col">
        {% block contents %}{% endblock %}
    </div>
</div>
</div>
</body>
</html>